#qdiv {
    margin: 50px 0 50px 0;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: dimgrey;
}

textarea {
    overflow: auto;
    resize: vertical;
    width: 80%;
    height: 100px;
}

.centerMe {
    margin: 0 auto;
}