<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body ng-app="angularApp">
    <nav class="navbar navbar-default">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/index.html" class="btn">A</a></li>
                <li><a href="#" class="btn active">B</a></li>
                <li><a href="#" class="btn">C</a></li>
            </ul>
        </div>
    </nav>
    
    <div ng-controller="examController">
        <form name="filterForm" class="container">
            <div >
                <select name="candidateSelect" ng-model="selectedCandidate">
                    <option ng-value=""></option>
                    <option ng-repeat="cand in candidates"
                            ng-value="{{cand.Fullname}}">
                        {{cand.Fullname}}
                    </option>
                </select>
                <br>
                <select name="questionairSelect" ng-model="selectedQuestionaire">
                    <option ng-value=""></option>
                    <option ng-repeat="q in questionairs"
                            ng-value="{{q.Name}}">
                        {{q.Name}}
                    </option>
                </select>
            </div>
        </form>
        
        <form name="questions">
            <div>
                <div class="row" style="width:80%;margin:auto">
                    <div class="col-sm-4" style="width:50%">
                        <label for="Q">Question 1</label><br>
                        <textarea type="text" id="Q" 
                             style="overflow:auto;resize:none;width:300px;height:100px" 
                                 readonly></textarea>
                    </div>
                    <div class="col-sm-4" style="width:50%">
                        <label for="A">Answer 1</label><br>
                        <textarea type="text" id="A" 
                             style="overflow:auto;resize:none;width:300px;height:100px"
                                  ></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <!--- Scripts: Libraries -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    
    <!--- Scripts: Mine -->
    <script src="angScript.js"></script>
</body>

</html>