#qdiv {
    margin: 50px 0 50px 0;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: grey;
}

#qareviewdiv {
    margin: 0px 0 50px 0;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: grey;
}

textarea {
    overflow: auto;
    resize: vertical;
    width: 95%;
    height: 100px;
}

.centerMe {
    margin: 0 auto;
}

.zero-pad {
    padding: 0;
}

#qtime {
    margin-top: 60px;
}

#qmark {
    margin: 25px 0 20px 0;
    padding: 4px;
    border: solid 1px grey;
    background-color: cornsilk;
    display: inline;
}

#addScore {
    width: 100%;
}

#qAddMinusDiv {
    padding: 0;
}

#reviewInformation {
    margin: 10px -10px;
}

#filterSection {
    background-color: cornsilk;
    padding: 10px 0;
    border: solid 1px grey;
}

#filterSection center label {
    width: 90%;
    border-bottom: solid 2px grey;
}

#reviewExamSelect select {
    width: 80%;
    display: inline-block;
}

.reviewForm {
    margin-bottom: 20px;
}
